<footer>
    <div class="footer-content">
        <p>&copy; <span id="current-year"></span> Meu Site. Todos os direitos reservados.</p>
    </div>
</footer>
<script>
    const currentYear = new Date().getFullYear();
    document.getElementById('current-year').textContent = currentYear;
</script>