<%- include ('../partials/header') %>

  <style>
    #pc-a {
      margin: 0;
      padding: 0;
      background-color: #3c4a93;
      font-family: Arial, sans-serif;
      height: 100vh;
      position: relative;
    }

    .login-container {
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 150px;
    }

    .login-container h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 20px;
    }

    .input-group {
      margin-bottom: 20px;
      text-align: left;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 400px;
      padding: 12px;
      border: none;
      border-radius: 25px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      font-size: 14px;
      outline: none;
    }

    input:focus {
      box-shadow: 0 0 5px #00d4ff;
    }

    .button {
      margin-top: 20px;
      text-align: right;
    }

    button {
      background-color: white;
      color: #3c4a93;
      font-weight: bold;
      padding: 10px 25px;
      border: none;
      border-radius: 25px;
      font-size: 14px;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      margin: 5px 0;
      margin-left: 10px;
    }

    .avancar {
      margin-left: 320px;
    }

    button a {
      text-decoration: none;
      color: inherit;
      display: block;
    }

    button:hover {
      background-color: #e6e6e6;
    }

    .extra-links {
      margin-top: 10px;
      margin-left: -180px;
    }

    .extra-links p {
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .extra-button {
      margin-left: 10px;
    }
  </style>

  <main id="pc-a">
    <div class="login-container">
      <h2>Faça o seu cadastro abaixo:</h2>
      <form id="loginForm" action="/usuarios/inserir-usuarios" method="post">
        <div class="input-group">
          <label for="nome">Digite seu nome:</label>
          <input type="text" id="nome" name="nome" required>
        </div>

        <div class="input-group">
          <label for="email">Digite seu e-mail:</label>
          <input type="email" id="email" name="email" required>
        </div>

        <div class="input-group">
          <label for="senha">Digite sua senha:</label>
          <input type="password" id="senha" name="senha" required>
        </div>

        <div class="input-group">
          <label for="papel">Escolha o seu papel:</label>
          <select id="papel" name="papel" required>
            <option value="aluno">Aluno</option>
            <option value="professor">Professor</option>
          </select>
        </div>

        <div class="button">
          <button type="submit">Cadastrar</button>
        </div>
      </form>

      <div class="extra-links">
        <p>Já tem uma conta? faça login abaixo:</p>
        <div>
          <button type="button" class="extra-button"><a href="/login-usuario">Login do Usuário</a></button>
          <button type="button" class="voltar-btt"><a href="/login">Voltar</a></button>
        </div>
      </div>
    </div>

  </main>

  <%- include ('../partials/footer') %>