<%- include ('../partials/header') %>

    <main>
        <div>
            <h1>Prencha as informações do seu Quiz</h1>
            <form action='/quizes/inserir-quizes' method="post" enctype="multipart/form-data">
                <div>
                    <div class="atualizacao-file-quiz">
                        <input type="file" id="imagem_upload" name="imagem" class="atualizacao-file-quiz-input"
                            accept="image/*" required>
                        <label for="imagem_path" class="atualizacao-file-imagem-label">Adicionar Imagem</label>
                    </div>
                </div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" placeholder="Titulo do Quiz" required>

                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" placeholder="Descricao do Quiz" required>

                <label for="questoes">Quantidade de questões:</label>
                <input type="number" id="questoes" name="questoes" placeholder="questoes do Quiz" required>

                <label for="dificuldade">Qual a dificuldade:</label>
                <select name="dificuldade" id="dificuldade">
                    <option value="" disabled selected>Selecione a dificuldade</option>
                    <option value="Fácil">Fácil</option>
                    <option value="Médio">Médio</option>
                    <option value="Difícil">Difícil</option>
                </select>

                <button type="submit">Continuar</button>
            </form>
    </main>

    <%- include ('../partials/footer') %>