<%- include ('../partials/header') %>

    <main>
        <h1>Ol치, bem vindo a p치gina de explorar</h1>
        <h1>Destaques:</h1>
        <h2>aqui ficar치 os quizes</h2>
        <h1>Em alta:</h1>
        <h2>aqui ficar치 os quizes</h2>
    </main>

<%- include ('../partials/footer') %>