<%- include ('../partials/header') %>
<main>
    <body>
        <h1>Olá, bem vindo a página Home</h1>
        <div>
            <h2>aqui ficará os quizes</h2>
        </div>
</main>    

<%- include ('../partials/footer') %>
