<%- include ('../partials/header') %>
    <main>

        <body>
            <h1>Olá, bem vindo a página Home</h1>
            <div>
                <h2>Quizes disponíveis:</h2>
            </div>
            <div>
                <h1>
                    <% for(const quiz of quizes) { %>
                        <div>
                            <h3>
                                <%= quiz.titulo %>
                            </h3>
                            <p>
                                <%= quiz.descricao %>
                            </p>

                        </div>
                        <% } %>
                </h1>
            </div>
    </main>

    <%- include ('../partials/footer') %>