<%- include ('../partials/header') %>

    <main>
        <h1>Login do Professor</h1>
        <h2>Insira os seus dados</h2>
    <form action="/logar-professor" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email do Professor">
        <br>
        <Label for="senha">Senha:</Label>
        <input type="password" name="senha" id="senha" placeholder="Senha do Professor">
        <input type="submit" value="Logar">
        <br><br>
        <button type="button"><a href="/cadastro-professor">Voltar</a></button>
    </main>

<%- include ('../partials/footer') %>