<%- include ('../partials/header') %>

    <main>
        <h1>Login do Aluno</h1>
        <h2>Insira os seus dados</h2>
    <form action="/inserir-alunos" method="post">
        <label for="nome" > Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Nome do Aluno">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email do Aluno">
        <br>
        <Label for="senha">Senha:</Label>
        <input type="password" name="senha" id="senha" placeholder="Senha do Aluno">
        <input type="submit" placeholder="Enviar dados">
        <br><br>
        <button type="button"><a href="/login">Voltar para Login</a></button>
    </main>

<%- include ('../partials/footer') %>