<%- include ('../partials/header') %>
    <style>
        #pl-al {
            margin: 0;
            padding: 0;
            background-color: #3c4a93;
            font-family: Arial, sans-serif;
            height: 100vh;
            position: relative;
        }

        .login-container {
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 200px;
        }

        .login-container h2 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 20px;
        }

        .input-group {
            margin-bottom: 20px;
            text-align: left;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 400px;
            padding: 12px;
            border: none;
            border-radius: 25px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            font-size: 14px;
            outline: none;
        }

        input:focus {
            box-shadow: 0 0 5px #00d4ff;
        }

        .button {
            margin-top: 10px;
            text-align: right;
        }

        button {
            background-color: white;
            color: #3c4a93;
            font-weight: bold;
            padding: 10px 25px;
            border: none;
            border-radius: 25px;
            font-size: 14px;
            cursor: pointer;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            margin: 5px 0;
            margin-left: 10px;
        }

        button a {
            text-decoration: none;
            color: inherit;
            display: block;
        }

        button:hover {
            background-color: #e6e6e6;
        }

        .pl-div {
            margin-top: -15px;
            margin-bottom: 10px;
        }
    </style>

    <main id="pl-al">
        <div class="login-container">
            <h2>Faça seu Login abaixo:</h2>
            <form action="/usuarios/logar-usuario" method="post">
                <div class="input-group">
                    <label for="email">Digite seu e-mail:</label>
                    <input type="email" id="email" name="email">
                    <div class="pl-div"></div>
                </div>

                <div class="input-group">
                    <label for="senha">Digite sua senha:</label>
                    <input type="password" id="senha" name="senha">
                    <div class="pl-div"></div>
                </div>

                <div class="button">
                    <button type="button" class="voltar-btt"><a href="/cadastro-usuarios">Voltar</a></button>
                    <button type="submit">Logar</button>
                </div>
            </form>
    </main>
    <%- include ('../partials/footer') %>